openapi: 3.0.0
info:
  title: Maritime Onboarding System API
  description: Comprehensive API for maritime crew training and onboarding management
  version: 1.0.0
  contact:
    name: API Support
    email: support@burando.online
  license:
    name: Proprietary
    
servers:
  - url: https://onboarding.burando.online/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server
    
security:
  - bearerAuth: []
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: user_123
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, manager, crew]
        name:
          type: string
        company_id:
          type: string
        created_at:
          type: string
          format: date-time
          
    TrainingPhase:
      type: object
      properties:
        id:
          type: string
        phase_number:
          type: integer
        title:
          type: string
        description:
          type: string
        time_limit:
          type: integer
        passing_score:
          type: integer
        category:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        content:
          type: object
          properties:
            overview:
              type: string
            objectives:
              type: array
              items:
                type: string
            keyPoints:
              type: array
              items:
                type: string
            procedures:
              type: array
              items:
                type: string
                
    Workflow:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [sequential, parallel, conditional]
        status:
          type: string
          enum: [active, inactive, archived]
        phases:
          type: array
          items:
            type: object
            
    Quiz:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        questions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              question:
                type: string
              type:
                type: string
                enum: [multiple_choice, true_false, text]
              options:
                type: array
                items:
                  type: string
              points:
                type: integer
        time_limit:
          type: integer
        passing_score:
          type: integer
        
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object
          
paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Admin/Manager login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                
  /auth/request-magic-link:
    post:
      tags:
        - Authentication
      summary: Request magic link for crew authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Magic link sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout and invalidate token
      responses:
        '200':
          description: Logged out successfully
          
  /admin/users:
    get:
      tags:
        - Admin
      summary: Get all users
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: role
          in: query
          schema:
            type: string
            enum: [admin, manager, crew]
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
                    
    post:
      tags:
        - Admin
      summary: Create new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum: [admin, manager, crew]
                name:
                  type: string
                position:
                  type: string
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
                
  /content/training/phases:
    get:
      tags:
        - Content Management
      summary: Get all training phases
      responses:
        '200':
          description: List of training phases
          content:
            application/json:
              schema:
                type: object
                properties:
                  phases:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingPhase'
                      
    post:
      tags:
        - Content Management
      summary: Create new training phase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingPhase'
      responses:
        '201':
          description: Training phase created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingPhase'
                
  /content/training/phases/{id}:
    put:
      tags:
        - Content Management
      summary: Update training phase
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingPhase'
      responses:
        '200':
          description: Training phase updated
          
    delete:
      tags:
        - Content Management
      summary: Delete training phase
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Training phase deleted
          
  /workflows:
    get:
      tags:
        - Workflows
      summary: Get all workflows
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflows:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workflow'
                      
    post:
      tags:
        - Workflows
      summary: Create new workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
      responses:
        '201':
          description: Workflow created
          
  /crew/profile:
    get:
      tags:
        - Crew
      summary: Get crew member profile
      responses:
        '200':
          description: Crew member profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                  name:
                    type: string
                  position:
                    type: string
                  company:
                    type: string
                  training_progress:
                    type: object
                    
  /training/quiz/{phase}:
    get:
      tags:
        - Quiz
      summary: Get quiz for training phase
      parameters:
        - name: phase
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quiz questions
          content:
            application/json:
              schema:
                type: object
                properties:
                  quiz:
                    $ref: '#/components/schemas/Quiz'
                    
  /training/quiz/{phase}/submit:
    post:
      tags:
        - Quiz
      summary: Submit quiz answers
      parameters:
        - name: phase
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                answers:
                  type: array
                  items:
                    type: object
                    properties:
                      question_id:
                        type: string
                      answer:
                        type: string
                time_taken:
                  type: integer
      responses:
        '200':
          description: Quiz results
          content:
            application/json:
              schema:
                type: object
                properties:
                  score:
                    type: integer
                  passed:
                    type: boolean
                  correct_answers:
                    type: integer
                  total_questions:
                    type: integer
                  certificate_id:
                    type: string
                    
  /upload/content-image:
    post:
      tags:
        - File Upload
      summary: Upload image for training content
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                type:
                  type: string
                phaseId:
                  type: string
      responses:
        '200':
          description: Image uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  publicUrl:
                    type: string
                    
  /health:
    get:
      tags:
        - System
      summary: Health check
      security: []
      responses:
        '200':
          description: System healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time